body {
    font-family: 'Mina', sans-serif;
    background-color: lightgrey;
}


#chessboard {
    display: block;
    margin: 100px auto;
    padding: 0;
    width: 800px;
    height: 800px;

}

.cell {
    padding: 0;
    margin: 0;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-grid;

}


.piece {
    display: block;
    margin: auto;
    width: 60%;
    z-index: 1000;
}


table {
    margin-top: 150px;
    border-radius: 20px;
    outline: none;
}


.navbar {
    background-color: #26292D;
}


.cell {
    box-shadow: 2px 2px 2px 2px black;
}

