<!doctype html>
<html>
    <head>
        <meta name="author" content="Krisztian Kaszas, Peter Cs. Forro">
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='dragula/dragula.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/chess.css') }}">
        <script defer src="{{ url_for('static',filename='bootstrap/jquery.js') }}"></script>
        <script defer src="{{ url_for('static',filename='bootstrap/popper.js') }}"></script>
        <script defer src="{{ url_for('static',filename='bootstrap/bootstrap.js') }}"></script>
        <script defer src="{{ url_for('static',filename='dragula/dragula.js') }}"></script>
        <script defer src="{{ url_for('static',filename='socketio/socketio.js') }}"></script>
        {% block script %}{% endblock %}
        <title>{% block page_title %}{% endblock %}</title>
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>