<!doctype html>
<html>
    <head>
        <meta name="author" content="Krisztian Kaszas, Peter Cs. Forro">
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Mina" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='dragula/dragula.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/chess.css') }}">
        <script defer src="{{ url_for('static',filename='bootstrap/jquery.js') }}"></script>
        <script defer src="{{ url_for('static',filename='bootstrap/popper.js') }}"></script>
        <script defer src="{{ url_for('static',filename='bootstrap/bootstrap.js') }}"></script>
        <script defer src="{{ url_for('static',filename='dragula/dragula.js') }}"></script>
        <script defer src="{{ url_for('static',filename='socketio/socketio.js') }}"></script>
        {% block script %}{% endblock %}
        <title>{% block page_title %}{% endblock %}</title>
    </head>
    <body>
        {#--------------------------------------NAVBAR--------------------------------------#}
        {#----------------------------------------------------------------------------------#}
        <nav class="navbar navbar-dark navbar-fixed-top mb-3 sticky-top">
            <div class="col">
                <a class="navbar-brand text-white">ChessPro: {% block title %}{% endblock %}</a>
            </div>
            <div class="col-">
                {% block navigation %}{% endblock %}
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        {% block modal %}{% endblock %}
    </body>
</html>