{% extends 'base.html' %}


{% macro init_turn() %}
    {% if color == 'White' %}
        "true"
    {% else %}
        "false"
    {% endif %}
{% endmacro %}


{% block page_title %}
    ChessPro - Chess
{% endblock %}


{% block script %}
    <script type="module" src="{{ url_for('static',filename='js/chess/main.js') }}"></script>
{% endblock script %}


{% block title %}
    {{ session.get('board_name') }}
{% endblock %}


{% block navigation %}
    <a href="{{ url_for('home') }}" class="btn btn-outline-danger exit">Exit Game</a>
{% endblock %}



{% block content %}
    <div class="content-container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-">
                    <div id="time"></div>
                    <div data-spy="scroll" data-offset="0" id="chat"></div>
                    <input type="text" id="chat-input"><br>
                    <button id="submit-btn" type="button" class="btn btn-outline-dark">Send message</button>
                </div>
                <div class="col-sm">
                    <div id="chessboard" class="container" data-username="{{ session.get('username') }}" data-color="{{ color }}" data-turn={{ init_turn() }} data-boardname="{{ board_name }}" data-players="0"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="Black-folks" class="deads"></div>
    <div id="White-folks" class="deads"></div>
    <div class="modal fade" id="modal-dialoge" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: red;">System Message</h5>
                </div>
                <div class="modal-body">
                    <h5 id="modal-message"></h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}