{% extends 'base.html' %}


{% macro init_turn() %}
    {% if color == 'White' %}
        "true"
    {% else %}
        "false"
    {% endif %}
{% endmacro %}


{% block page_title %}
    ChessPro - Chess
{% endblock %}


{% block script %}
    <script type="module" src="{{ url_for('static',filename='js/main.js') }}"></script>
{% endblock script %}


{% block content %}
        <div class="row">
            <div class="col">
                <textarea disabled cols="20" rows="20" id="chat"></textarea>
                <input type="text" id="chat-input">
                <button id="submit-btn" type="button" class="btn btn-outline-secondary">Send message</button>
            </div>
            <div class="col">
                <div id="chessboard" class="container" data-nickname="{{ session.get('username') }}" data-color="{{ color }}" data-turn={{ init_turn() }} data-boardname="{{ board_name }}"></div>
            </div>
        </div>
{% endblock %}