{% extends 'base.html' %}


{% block page_title %}
    ChessPro - Home
{% endblock %}


{% block script %}
    <script defer src="{{ url_for('static',filename="js_home/home.js") }}"></script>
{% endblock script %}


{% block navigation %}
    <button id="newgame" type="button" class="btn btn-outline-success">New Game</button>
    <a href="{{ url_for('log_out') }}" class="btn btn-outline-danger">Logout: {{ session.get('username') }}</a>
{% endblock %}


{% block title %}
    Home
{% endblock %}


{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-left">
                    <h1 id="match">- Your Matches -</h1>
                </div>
                <div class="col">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="{{ category }}">
                                    <p id="flash">{{ message }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
            <div class="row">
                {% if rooms %}
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Room Name</th>
                                    <th scope="col">Players</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for room in rooms %}
                                    <tr>
                                        <td>{{ room.board_name }}</td>
                                        <td>{{ room.owners }}</td>
                                        <td>
                                            <a class="btn btn-success btn-sm" href="{{ url_for('game',board_name=room.board_name)}}">Play</a>
                                            <a class="btn btn-danger btn-sm" href="{{ url_for('delete_room',board_name=room.board_name, room_id=room.id) }}">Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
            {% endif %}
        </div>
{% endblock %}
{% block modal %}
    <div class="modal fade" id="newgame-dialog" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Game</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                         <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Room name:</label>
                            <input type="text" class="form-control" id="input-name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Select Opponent:</label>
                            <select class="form-control" id="select-opponent">
                                {% for opponent in opponents %}
                                    <option value="{{ opponent.id }}">{{ opponent.username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="select-color" class="col-form-label">Select Color:</label>
                             <select class="form-control" id="select-color">
                                 <option value="White">White</option>
                                 <option value="Black">Black</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="submit-modal" type="button" class="btn btn-outline-dark">Create Game</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


