{% extends 'base.html' %}

{% block script %}
    <script type="module" src="{{ url_for('static',filename='js/main.js') }}"></script>
{% endblock script %}

{% block page_title %}
    chessPro - Login
{% endblock %}


{% block content %}
    <form action="{{ url_for('login') }}" method="GET">
        <input type="text" name="nickname" placeholder="Nickname">
        <select name="color">
            <option value="White">White</option>
            <option value="Black">Black</option>
        </select>
        <input type="submit" value="Start game">
    </form>
{% endblock %}